body {
	text-align: center;
	background-color: #283149;
	padding: 3%;
}

h1 {
	font-size: 5rem;
	color: #DBEDF3;
	font-family: "Arvo", cursive;
	padding-top: 1rem;
}

p {
	color: #DBEDF3;
}

footer {
	color: #DBEDF3;
	font-family: sans-serif;
}

section {
	padding: 5% 5%;
}

input {
	width: 70%;
}

.btn {
	margin-left: 2.5rem;
}


@media (max-width: 545px) {
	.btn {
		margin-top: 3rem;
	}
	
	input {
		width: 90%; 
	}
}


